# Q1) What are data structures, and why are they important?

It is a way of organizing and storing data effectively.
data structures are used to store and manipulate data effectively.

---

# Q2) Explain the difference between mutable and immutable data types with examples
mutable---> which allows to change or get modified. e.g. sets,lists

immutable---> which does not allow modifcation. e.g. tuples


---

# Q3) What are the main differences between lists and tuples in Python?
lists are mutable whereas tuples are immutable.


---

# Q4) Describe how dictionaries store data?
dictionaries store data in the form of key value pair


```
my_dict={"name":"shweta", "age":24, "course":"pwskills"}
```


---

# Q5) Why might you use a set instead of a list in Python?
because lists are ordered and sets are unordered so there is not concept of indexing in case of a set.

---
# Q6) What is a string in Python, and how is it different from a list?
string is a collection of characters for example,
```
my_str="shweta is my name"
```
whereas a list store all kind of data for example,
```
my_list=["shweta","is","my","name"]
```

---
# Q7) How do tuples ensure data integrity in Python?
because tuples are immutable so they can be used in adhaar card, employee id,
etc. which ensures data integrity meaning once created they cannot be modified.

---
# Q8) What is a hash table, and how does it relate to dictionaries in Python?

A hash table, also known as a hash map, is a data structure that stores key-value pairs. It uses a hash function to map keys to indices in an array.
Whereas dictionaries are also similar which stores values in form of key-value pairs and key is used to access the values.

---
# Q9) Can lists contain different data types in Python?

yes

---
# Q10) Explain why strings are immutable in Python?

string stores only character type of data so it cannot be modified into integers or float values that is why strings are immutable.

---
# Q11) What advantages do dictionaries offer over lists for certain tasks?

Dictionaries are faster than lists when we access a key value pair kind of data.

---
# Q12) Describe a scenario where using a tuple would be preferable over a list?

for example if you want to enter a data for identity card then tuples would be preferable because they are immutable whereas in case of lists, they are mutable so they will not be prefered.

---
# Q13) How do sets handle duplicate values in Python?

sets automatically considers a value as a single even if you write duplicates.
for example:


```
my_set={"s","s","h","h","w","w","e","e","t","t","a","a"}
```
it will take only the unique element: shweta

---
# Q14) How does the “in” keyword work differently for lists and dictionaries?

"in" keywords are used to check whether the element is there or not in case of a list whereas in dictionaries it is used to check whether that key is present or not.

---
# Q15) Can you modify the elements of a tuple? Explain why or why not?

No you cannot modify the elements of a tuple because tuples are designed to be immutable.

---
# Q16) What is a nested dictionary, and give an example of its use case?

a dictionary inside a dictionary is called a nested dictionary.


```
my_dict={"E001":{"NAME":"SHWETA","AGE":25,"COURSE":"PWSKILLS"}
        "E002":{"NAME":"TANISHKA","AGE":15,"COURSE":"PWSKILLS"}}
```

---
# Q17) Describe the time complexity of accessing elements in a dictionary?

O(1)---> constant

# Q18) In what situations are lists preferred over dictionaries?

when there is requirement of indexing or ordering.

---

# Q19)  Why are dictionaries considered unordered, and how does that affect data retrieval?

because they store values in the form of key value pairs therefore there is no concept of indexing in case of dictionaries.
data retrieval is faster if data needs to be accessed in the form of key value pairs but since there is no indexing in dictionaries therefore it is not suitable in case of ordered data retrieval.

---

# Q20) Explain the difference between a list and a dictionary in terms of data retrieval?

same answer as above .

In [1]:
#Write a code to create a string with your name and print it
my_str="shweta"
print(my_str)

shweta

In [2]:
#Write a code to find the length of the string "Hello World"
my_str="Hello World"
print(len(my_str))

11

In [3]:
#Write a code to slice the first 3 characters from the string "Python Programming"
my_str="Python Programming"
print(my_str[0:3])

Pyt

In [4]:
# Write a code to convert the string "hello" to uppercase
my_str="hello"
print(my_str.upper())

HELLO

In [5]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
my_str="I like apple"
print(my_str.replace("apple","orange"))

I like orange

In [6]:
#Write a code to create a list with numbers 1 to 5 and print it
my_list=[1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [7]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list=[1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [8]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list=[1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [9]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list=['a', 'b', 'c', 'd']
print(my_list[1])

b

In [10]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
my_list=[10, 20, 30, 40, 50]
print(my_list[::-1])

[50, 40, 30, 20, 10]

In [12]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it
my_t=(100,200,300)
print(my_t)

(100, 200, 300)

In [14]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_t= ('red', 'green', 'blue', 'yellow')
print(my_t[2:4])

('blue', 'yellow')

In [15]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15)
my_t=(10,20,5,15)
print(min(my_t))

5

In [16]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

my_t=('dog', 'cat', 'rabbit')
print(my_t.index("cat"))

1

In [17]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_t=("apple","banana","guava")
print("kiwi" in my_t)

False

In [18]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it
my_set={"a","b","c"}
print(my_set)

{'c', 'b', 'a'}

In [19]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set={1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [20]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set={1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [21]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set_a={1,2,3}
set_b={3,4,5}
print(set_a | set_b)

{1, 2, 3, 4, 5}

In [22]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set_a={1,2,3}
set_b={2,3,4}
print(set_a & set_b)

{2, 3}

In [24]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it
d={"name":"shweta", "age":25, "city": "delhi"}
print(d)

{'name': 'shweta', 'age': 25, 'city': 'delhi'}

In [25]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d={"name":"john", "age":25}
d["country"]="USA"

print(d)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [27]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d={"name":"alice", "age":30}
print(d["name"])

alice

In [28]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d={'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

In [29]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
d={'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

In [33]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
lst=[1,2,3,4,5]
my_t=(7,8,9)
d={'name': 'Alice', 'city': 'Paris'}
print(lst,my_t,d ,)

[1, 2, 3, 4, 5] (7, 8, 9) {'name': 'Alice', 'city': 'Paris'}

In [35]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
lst=[23,32,13,99,98]
print(sorted(lst))

[13, 23, 32, 98, 99]

In [37]:
# Write a code to create a list with strings and print the element at the third index.
lst=["shweta","is","my","name"]
print(lst[2])

my

In [43]:
#Write a code to combine two dictionaries into one and print the result.
students=["arun", "sanjay", "tarun"]
marks=[88, 78, 92]

{student:mark for student,mark in zip(students,marks)}

{'arun': 88, 'sanjay': 78, 'tarun': 92}

In [44]:
#Write a code to convert a list of strings into a set
lst=["shweta","is","my","name"]
print(set(lst))

{'is', 'my', 'name', 'shweta'}